
@{
    ViewBag.Title = "Xác Nhận Đơn Hàng - SadiShop";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="preloader_hide">
    <div id="page">
        <section class="breadcrumb parallax margbot30"></section>
        <section class="page_header">
            <div class="container" style="text-align:center">
                <h2>Đơn hàng của bạn đã được ghi nhận.</h2>
                <h2>Chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất để giao hàng.</h2>
                <h3>Chúc bạn một ngày vui vẻ :)</h3>
                <div class="col-lg-3 col-md-3 center">
                    <a class="btn active" href="@Url.Action("Index", "Shop")">Tiếp tục mua hàng</a>       
                </div>
            </div>
        </section>
</div>
</div>


