
@{
    ViewBag.Title = "Trang chủ Admin - SadiShop";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="callout callout-success">
    <h4>Chào mừng bạn đến với trang Admin</h4>
    <p>Sử dụng các chức năng bên thanh menu để bắt đầu công việc.</p>
    <p>Chúc bạn một ngày làm việc thật vui vẻ.</p>
</div>

