
@{
    ViewBag.Title = "Giới thiệu - Sadi Shop";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="preloader_hide">
    <!-- PAGE -->
    <div id="page">

        <!-- BREADCRUMBS -->
        <section class="breadcrumb parallax margbot30"></section>
        <!-- //BREADCRUMBS -->
        <!-- PAGE HEADER -->
        <section class="page_header">

            <!-- CONTAINER -->
            <div class="container">
                <h3 class="pull-left"><b>Giới thiệu</b></h3>

                <div class="pull-right">
                    <a href="@Url.Action("Index", "Shop")">Trở về trang chủ<i class="fa fa-angle-right"></i></a>
                </div>
            </div><!-- //CONTAINER -->
        </section><!-- //PAGE HEADER -->
        <!-- ABOUT US INFO -->
        <section class="about_us_info">

            <!-- CONTAINER -->
            <div class="container">

                <!-- ROW -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 padbot60 about_us_description" data-appear-top-offset='-100' data-animated='fadeInLeft'>
                        <p>Đồ Án Môn Học: PTTKHĐT</p>
                        <span>GVHD: Lê Minh Nguyện</span>
                        <span>Nhóm sinh viên thực hiện:</span>
                        <span>- Nguyễn Trí Định - 1411060773 - 14DTHC03</span>
                        <span>- Hoàng Văn Việt - 1411061060 - 14DTH04</span>
                        <span>- Trương Hoàng Thiện 1411061426 - 14DTH04</span>
                        <span>- Phùng Thị Thùy Trang - 1411061027 - 14DTH04</span>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 padbot30" data-appear-top-offset='-100' data-animated='fadeInRight'>
                        <img class="about_img1" src="~/images/about_img1.jpg" alt="" />
                    </div>
                </div><!-- //ROW -->
                <!-- ROW -->
                <div class="row team_wrapper padbot60" data-appear-top-offset='-100' data-animated='fadeInUp'>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                        <div class="team_item center">
                            <img class="team_foto" src="~/images/team/1.png" alt="" />
                            <p>Văn Việt</p>
                            <span>Quản lý cấp cao</span>
                            <div class="team_social">
                                <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                        <div class="team_item center">
                            <img class="team_foto" src="~/images/team/2.png" alt="" />
                            <p>Trí Định</p>
                            <span>Quản lý</span>
                            <div class="team_social">
                                <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                        <div class="team_item center">
                            <img class="team_foto" src="~/images/team/3.png" alt="" />
                            <p>Hoàng Thiện</p>
                            <span>Quản lý</span>
                            <div class="team_social">
                                <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 padbot30">
                        <div class="team_item center">
                            <img class="team_foto" src="~/images/team/4.png" alt="" />
                            <p>Thùy Trang</p>
                            <span>Marketing</span>
                            <div class="team_social">
                                <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a>
                                <a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </section><!-- //ABOUT US INFO -->
    </div>
</div>

