@{
    ViewBag.Title = "Confirm Email";
}

<div class="preloader_hide">
    <div id="page">
        <!-- BREADCRUMBS -->
        <section class="breadcrumb parallax margbot30"></section>
        <!-- //BREADCRUMBS -->
        <!-- PAGE HEADER -->
        <section class="page_header">
            <div>
                <p style="font-size: 16px; text-align:center" class="text-success">
                    XÁC NHẬN EMAIL THÀNH CÔNG. @Html.ActionLink("Click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </section>
    </div>
</div>
